.repl {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.repl-evaluations {
  overflow: auto;
}

.repl-input {
  width: calc(100vw - 30px);
  height: 100px;
  min-height: 100px;
  margin-bottom: 10px;
}
